[submodule "HoosHeardFrontend-Web"]
	path = HoosHeardFrontend-Web
	url = https://github.com/EthanHaller/HoosHeardFrontend-Web.git
[submodule "HoosHeardBackend"]
	path = HoosHeardBackend
	url = https://github.com/EthanHaller/HoosHeardBackend.git
